<!DOCTYPE html>


<html class="js backgroundsize borderimage csstransitions fontface svg details progressbar meter mathml cors wb-enable largeview" lang="en" dir="ltr">

<head>


<script type="application/ld+json">

{
	"title": "Geoconnex a registry for geologic instances",
	"language": "en",
	"altLangPage": "organizational-arms-fr.html",
	"pageType": "organization",
	"pageclass": "page-type-nav",
	"breadcrumbs": [
		{ "title": "Departments & agencies", "link": "https://www.canada.ca/en/government/dept.html" }
	],
	"dateModified": "2023-09-01",
	"share": "true"
}

</script>



<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<title>[Organization Name] - Canada.ca</title>
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="description" content=" ">
<meta name="author" content=" ">
<meta name="dcterms.title" content="[Organization Name]">
<meta name="dcterms.description" content=" ">
<meta name="dcterms.creator" content=" ">
<meta name="dcterms.language" content="eng">
<meta name="dcterms.subject" content="">
<meta name="dcterms.issued" content="">
<meta name="dcterms.modified" content="2023-09-01">

<link rel="apple-touch-icon" sizes="57x57 72x72 114x114 144x144 150x150" class="wb-favicon" href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/assets/favicon-mobile.png"><link href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" class="wb-init wb-favicon-inited">
<link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/css/theme.min.css">
<!-- from <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

<noscript><link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/css/noscript.min.css" /></noscript>

<!-- From template canada.ca -->
<link href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/assets/favicon.ico" rel="icon" type="image/x-icon" class="wb-init wb-favicon-inited">
<link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/css/theme.min.css">
<link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/cdtsfixes.css">
<link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/cdtsapps.css">
<!-- From template canada.ca -->

</head>







<body class="page-type-nav" vocab="http://schema.org/" typeof="WebPage">



<!-- Copied from template canada.ca -->
<header><div id="wb-bnr" class="container"><section id="wb-lng" class="text-right"><h2 class="wb-inv">Language selection</h2><ul class="list-inline margin-bottom-none"><li><a lang="fr" href="apptop-fr.shtml">Français</a></li></ul></section><div class="row"><div class="brand col-xs-5 col-md-4"><img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/assets/sig-blk-en.svg" alt=""><span class="wb-inv"> Government of Canada / <span lang="fr">Gouvernement du Canada</span></span></div></div></div><div class="app-bar"><div class="container"><div class="row"><section class="col-xs-12">
<h2 class="wb-inv">Name of Web application</h2><a class="app-name" href="#">Geoconnex</a></section></div></div></div></header>

<!-- end - Copied from template canada.ca -->




<!-- the 2 lines below copied from template example -->
<main class="container" property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
<h1 id="wb-cont" property="name"> Geoconnex Registry </h1>
<!-- end of the 2 lines -->



<div class="row">
	<div class="col-sm-12 pull-left">
		<p class="gc-byline">Geologic features are real things having each a set of data authored by multiple sources. The Registry is meant to be a centralized catalogue providing, for each feature, 
		a concise info and links pointing to the available data. The elaboration of this registry represents the main component of the Geoconnex project    
		that aims to make hydrologic data as easily discoverable, accessible, and usable as possible.
		</p>
		<p>The key to find the web resource data of a geologic feature in the Registry is encoded as a URL consisting in a concatenation of the following: </p>
		<ul>
		<li> Protocol and domain name :   “https://geoconnex.ca”  </li>
		<li>Path   <ul> <li>                   e.g.    “/id/someCategory/instanceName” </li> </ul>  </li>
		<li> Parameters string for format <ul> <li> e.g.  “?f=xml” </li> </ul> </li>  
		</ul>
		<p>  An example of a unique data URL for the Richelieu river is : <a  style="color:blue"  target=”_blank”  href="https://geoconnex.ca/gsip/id/waterbody/Richelieu?f=xml">
		  https://geoconnex.ca/gsip/id/waterbody/Richelieu?f=xml </a>

		</p>
	<!-- 	<p>  An example of a unique data URL for the Richelieu river is : <a  style="color:blue"  target=”_blank”  href="https://geoconnex.ca/gsip/id/hydrogeounits/Richelieu5?f=xml">
		 **id/waterbody/Richelieu is not functional** replaced temporarly with https://geoconnex.ca/gsip/id/hydrogeounits/Richelieu5?f=xml </a>

		</p> 
	</div> -->
	<!--  <div class="col-sm-5 col-xs-12 pull-right">
		{% include components/gc-follow-us/samples/follow.html %}
	</div> --> 
</div>
<section>
	<h2>A river in Geoconnex Registry </h2>
	<div class="gc-nws row">
		<div class="col-md-12">
			<div class="wb-tabs carousel-s2 playing slow">
				<ul role="tablist">
					<li class="active">
						<a href="#tab1"><img src="img/image304.jpg" alt="" /><span class="wb-inv">Tab 1: [News title]</span></a>
					</li>
					<li>
						<a href="#tab2"><img src="img/image303.jpg" alt="" /><span class="wb-inv">Tab 2: This river has a unique URL in the Registry [News title]</span></a>
					</li>
				</ul>
				<div class="tabpanels">
					<div role="tabpanel" id="tab1" class="in fade">
						<a href="#" class="learnmore">
							<figure>
								<img src="img/image304.jpg" alt="" />
								<figcaption>
								<!--	<p>[News title]</p>
									<small>YYYY-MM-DD hh:mm - Type of feature</small> -->
									<p> This river has a unique identifier in the Registry.</p>
								</figcaption>
							</figure>
						</a>
					</div>
					<div role="tabpanel" id="tab2" class="out fade">
						<a href="#" class="learnmore">
							<figure>
								<img src="img/image303.jpg" alt="" />
								 <figcaption>
								<!--	<p>[News title]</p>
									<small>YYYY-MM-DD hh:mm - Type of feature</small> 
									<p>  Brief description of the news item.</p> -->
								</figcaption> 
							</figure>
						</a>
					</div>
				</div>
			</div>
		</div>
		 <!-- <div class="wb-feeds limit-3 col-lg-4 pull-right">
			<ul class="feeds-cont list-unstyled lst-spcd">
				<li>
					<a href="http://news.gc.ca/web/fd-en.do?mthd=dpt&amp;ft=atom&amp;crtr.dpt1D=6675" rel="external">Government of Canada News Releases</a>
				</li>
			</ul>
			 <p class="text-right"><strong><a href="#">All news</a></strong></p> 
		</div> -->
	</div>
</section>


<div class="row">
	<div class="col-md-4 col-xs-12 pull-left">
		<!-- {% include components/most-requested/most-requested.html %}  -->
		<h3> Related project </h3>
		<a href="https://gin.gw-info.net/service/api_ngwds:gin2/en/gin.html"> Gin project </a> 
	</div>
<!--	{% include components/gc-servinfo/with-embed-col-pull.html %} -->
	<div class="pull-right col-xs-12 col-md-4">
		<!-- <section class="lnkbx"> -->
			<h3>Contact us</h3>
			<ul>
				<!-- {%- for i in (1..3) -%} -->
				<li><a href="#">Contact number link</a></li>
			<!--	{%- endfor -%} -->
			</ul>
		<!-- </section> -->
	<!--	{% include components/more-info/more-info.html %} -->
	</div>
</div>



<!-- from template example -->
</main>

<!-- 
{% include templates/whtwedo-3-items.html %}
{% include components/gc-corporate/org-info.html %}
{% include components/gc-features/features.html %}

-->

<!-- From my app2 project  -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="wet-boew/js/wet-boew.js"></script>
    <script src="GCWeb/js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.7/jquery.i18n.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.i18n/1.0.7/jquery.i18n.messagestore.js"></script>
   <!--  this header-en.js is not needed for the moment <script src="./i18n/header-en.js">  --> 
   

<!--    From Bootstrap -->
<!-- this line is already existing above  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>  -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->


<!-- Footer copied from canada.ca template english -->
<footer id="wb-info"><div class="brand"><div class="container"><div class="row"><nav class="col-md-10 ftr-urlt-lnk"><h2 class="wb-inv">About this Web application</h2><ul><li><a href="https://www.canada.ca/en/contact.html">Contact information</a></li><li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li><li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li></ul></nav><div class="col-xs-6 visible-sm visible-xs tofpg"><a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a></div><div class="col-xs-6 col-md-3 col-lg-2 text-right"><img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/assets/wmms-blk.svg" alt="Symbol of the Government of Canada"></div></div></div></div></footer>
<!-- End - Footer copied from canada.ca template -->

<!-- From template example --> 
<script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/i18n/en.min.js"></script>
<script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/deps/jquery.magnific-popup.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
<script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/wet-boew.min.js">
</script><span id="wb-rsz" class="wb-init">&nbsp;</span>
<script src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/js/theme.min.js"></script>

<!--canada.ca template english -->
<script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/js/theme.min.js"></script>
<script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/cdtscustom.js"></script>
<!-- End -canada.ca template english -->








</body>
</html> 
